$container-padding: 1rem;

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding;
    padding-right: $container-padding;
    max-width: 48rem;
  }